/* 共通スタイル */
.createPostPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  height: 90vh;
}

.postContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 500px;
  gap: 10px;
  padding: 10px 40px;
  box-shadow: 5px 9px 15px 2px rgba(1, 1, 2, 0.35);
}

.postContainer input,
.postContainer textarea {
  width: 100%;
  outline: none;
  padding: 4px;
}

.postContainer textarea {
  height: 190px;
}

/* ライトモード スタイル */
.container.light .postContainer {
  background-color: floralwhite; /* ライトモードの背景色 */
  color: #000; /* ライトモードのテキスト色 */
}

.container.light .postButton {
  background-color: #3d77a5; /* ライトモードのボタン色 */
  color: white;
}

/* ダークモード スタイル */
.container.dark .postContainer {
  background-color: #333; /* ダークモードの背景色 */
  color: #fff; /* ダークモードのテキスト色 */
}

.container.dark .postButton {
  background-color: #555; /* ダークモードのボタン色 */
  color: white;
}

/* ボタンスタイル */
.postButton {
  padding: 10px 0;
  border: none;
  box-shadow: 5px 9px 15px 2px rgba(1, 1, 2, 0.35);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.postButton:hover {
  transform: translateY(-3px);
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.2);
}
