.homePage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* カード間の間隔 */
  justify-content: center;
  max-width: 1000px; /* 画面幅に応じて調整 */
  margin-top: 20px;
}

.cardContainer > * {
  flex: 1;
  min-width: 300px; /* カードの最小幅 */
  margin: 0 10px; /* カードの左右のマージン */
}
