.homePage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* カード間の間隔 */
  justify-content: center;
  max-width: 1000px; /* 画面幅に応じて調整 */
  margin-top: 20px;
}

.cardContainer > * {
  flex: 1;
  min-width: 300px; /* カードの最小幅 */
  margin: 0 10px; /* カードの左右のマージン */
}

.container.light {
  background-color: #fff;
  color: #000;
}

.container.dark {
  background-color: #333;
  color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
