.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 7%;
  transition: 0.5s;
}

.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.dark .navbar {
  background: #000;
  color: #fff;
}

.dark .search-box {
  background: #fff;
}
.dark .search-box input {
  background: #fff;
}
.dark .search-box input::placeholder {
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.logo {
  width: 160px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul .ul-Link {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.light .ul-Link {
  color: #000;
  text-decoration: none;
}

.dark .ul-Link {
  color: #fff;
  text-decoration: none;
}
